<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zafu.netcontact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 在其他程序之上显示窗口的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 联网的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="cn.edu.zafu.netcontact.application.MyApplication" >
        <activity
            android:name="cn.edu.zafu.netcontact.activity.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.edu.zafu.netcontact.activity.MainActivity" />
        <activity android:name="cn.edu.zafu.netcontact.activity.DownloadActivity" />
        <activity android:name="cn.edu.zafu.netcontact.activity.ContentActivity" />

        <receiver
            android:name="cn.edu.zafu.netcontact.receiver.PhoneReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.edu.zafu.netcontact.UpdateService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="cn.edu.zafu.netcontact.activity.CallActivity"
            android:label="@string/title_activity_call" >
        </activity>
    </application>

</manifest>